
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Work+Sans:wght@400;600;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
/* --------------Nav Styles---------------------- */
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
}
.g-color{
    color: #FF42A5; 
}
.nav-content{
    display: flex;
    align-items: center;
    list-style: none;  
}
.nav-content li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-right: 30px;
}

.follow-us img{
    width: 20px;
    height: auto;
}
.follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 7px 13px;

}


/* -----------------Banner styles-------------------------------------- */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title1{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.banner-title2{
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.banner-item{
    display: flex;
    align-items: center;
    gap: 3px;
}
.banner-btn{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    
}
.btn-1{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #F948B2;
    color: aliceblue;
    border: none;
    border-radius: 48px;
    padding: 16px 30px;  
}
.btn-2{
    font-size: 1.5rem;
    font-weight: 500;
    background-color:  #4EC5F7;
    color: aliceblue;
    border: none;
    border-radius: 48px;
    padding: 16px 30px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
/* ---------------------styles main sections---------------------------- */
.gamer-banner{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.gamer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 52px;
    margin: 0;
}

.gamer-content{
    text-align: right;
    width: 700px;
}
.gamer-title{
    font-size: 3rem;
    font-weight: 700;
    /* color: #8758F1; */
    color: #F948B2;
}
.gamer-description{
    font-size: 18px;
    font-weight: normal;
    width: 600px;
    margin-bottom: 30px;
    width: 520px;
    font-family: Open Sans;
}
.gamer-subtitle{
    text-align: right;
}
.gamer-span{
    font-size: 2rem;
    font-weight: 600;
}

.gamer-img img{
 width: 868px;
}
/* -------------------------styles video Section-------------------------------------- */
 .video-section{
    display: flex;
    justify-content: space-around;
 }
 .video-content img, .video-content-sub-title{
    width: 342px;
 }
 .video-content, .btn-png1 img{
    width: 342px;
 }

 .play-btn img{
    border-radius: 16px;
    border-radius: 16px;
    border: 4px solid var(--Linear, #FF42A5);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
 }

 .box{
    position: relative;
 }
    
 .video-content .png-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
 }
/* -----------------styles Play Section------------------------------ */

.play-section{
    display: flex;
    gap: 120px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}
.play-section-content{
    padding-left: 150px;
    text-align: right;
}
.play-section-title{
    font-size: 3rem;
    font-weight: 700;
    width: 500px;
}
.play-section-description{
    font-size: 1rem;
    font-weight: normal;
    width: 500px;
}
.play-section-img{
    height: 760px;
}
.play-section-img .play-img1{
    width: 635px;
    height: 650px;
}
.play-section-img .play-img2{
    width: 318px;
    height: 365px;
    position: relative;
    bottom: 220px;
    right: 150px;
}
.play-section-img .play-img2{
    position: relative;
    
}

/* ---------------------play-online-section styles---------------------- */
.play-online-section{
    display: flex;
    justify-content: space-between;
}
.play-online-section .online-img1{
    width: 710px;
    height: 650px;
}
.play-online-section .online-img2{
    width: 318px;
    height: 365px;
    position: relative;
    left: 70%;
    bottom: 25%;
}
.g2-color{
    color: #8758F1;
}

/* ----------------------------------Career Section style--------------------------------------- */
.Career{
    background-color: #F948B2;
    padding-bottom: 80px;
}
.career-section{
    display: flex;
    justify-content: space-between;
}

.career-img img{
    width: 800px;
    height: 610px;
}
.career-content > h3{
    font-size: 3rem;
    font-weight: 700;
    color: aliceblue;
}
.career-content > p{
    color: aliceblue;
    font-weight: normal;
    font-size: 1rem;
}
.career-sub-section{
    display: flex;
    gap: 100px;
}
.career-sub-section p{
    font-size: 1rem;
    font-weight: normal;
    color: aliceblue;
}
.career-content .carer-btn{
   font-size: 1rem;
   font-weight: 500;
   color: #F948B2;
   background-color: aliceblue;
   border: 0;
   border-radius: 50px;
   padding: 10px 15px;
   margin-top: 40px;

}
/* ========================= Styles sponser sections ================================== */
.sponser-img-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.sponser-img{
    display: flex;
    align-items: center;
    background-color: #f948b20f;
    border-radius: 50px;
    padding: 5px 10px;
}
.sponser-img p{
 font-size: 1.5rem;
 font-weight: 500;
 margin-left: 15px;
}
.sponser-img img{
    width: 60px;
    height: 60px;
}
.sponser-img-content2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

@media screen and (max-width: 576px) {
    .nav-section, .nav-content, .gamer-section, .video-section,.play-section, .play-online-section, .career-section{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .header{
        box-shadow: none;
    }
    .nav-content li{
        margin-bottom: 30px;
    }
    .container{
        width: 576px;
        margin: auto;
    }
    /* ============= Banner Section ================ */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 500px;
        height: 100%
    }
    .banner-content{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /* ============== Gamer Sections ==================== */
    .gamer-section{
        margin: 50px;
    }
   .gamer-img img{
    width: 500px;
    height: auto;
   }
   .gamer-content {
    width: auto;
    text-align: center;
   }
   .gamer-title{
    font-size: 2rem;
    font-weight: 700;
   }
   .gamer-description{
    font-size: 18px;
   }
   .gamer-subtitle{
    text-align: center;
   }
   /* ============= Play Sections ======================= */
   .play-section-content{
    text-align: center;
    padding: 0;
   }
   .play-section-img .play-img1{
    width: 350px;
    height: auto;
   }
   .play-section-img .play-img2 img{
    width: 150px;
    height: auto;
   }
   .play-section-img .play-img2{
    position: relative;
    bottom: 100px;
    right: 20%;
   }
   .play-online-section .online-img1{
    width: 350px;
    height: auto;
   }
   .play-online-section .online-img2 img{
    width: 150px;
    height: auto;
    position: relative;
    bottom: 100px;
   }
   .play-section-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
   }
   .play-online-section .online-img2{
    height: 100px;
   } 
   .play-section-description{
   
    text-align: center;
   }
   /* ===================== Career Sections ============================= */
   .career-content{
   padding: 0 50px;
   }
   .career-img img{
    width: 450px;
    height: auto;
   }
/* ================== Spoonser Sections =================================== */
    .sponser-img-content{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 50px 50px;
   
    }
    .sponser-img img{
        width: 30px;
        height: 30px;
    }
    .sponser-img p{
        font-size: 0.70rem;
        font-weight: normal;
        margin: 0;
        padding-left: 5px;
    }
}
















